.bottom-container
    width: 100%
    display: grid
    font-size: 20px
    margin-top: 10.15em
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)

    &__get-started
        width: 83.4%
        margin-top: 10.4%
        margin-left: 8.94%
        font-size: 20px
        margin-bottom: 5.5em

        &__title
            font-size: 56px
            margin: 0

        &__description
            width: 78.6%
            font-size: 24px

        &__button
            width: 37%
            padding: 1.01em
            border-radius: 40px
            color: white
            background-color: #333333
            font-size: 22px

    &__information
        width: 80.7%
        grid-row-start: 2
        grid-column-start: 1
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(2, 1fr)
        margin-left: 8.89%
        

        &__flex
            display: flex
            width: 100%
            justify-content: space-between
            font-size: 20px
            margin-bottom: 1.6em

            &__item
                width: 37.7%
                font-size: 16px
                background-color: #F4F4F4
                border-radius: 24px
                padding: 1.5em 1.75em 1.5em 1.5em
                
                &__title
                    font-size: 24px
                    margin: 0
                
                &__description
                    margin: 0.5em 0 0 
        
        &__item
            display: flex
            justify-content: space-between
            font-size: 16px
            background-color: #F4F4F4
            border-radius: 24px
            padding: 1em 1.75em 1em 1.5em

            &__text-container
                width: 60%

                &__title
                    font-size: 24px
                    margin: 0
            
                &__description
                    margin: 0.5em 0 0


    &__image-container
        width: 100%
        grid-row-start: 1
        grid-column-start: 2
        grid-row: span 2

#flex-item-178k
        background-color: #C6D9E1

