html {
  font-size: 16px;
}

body {
  margin: 0;
  position: relative;
  font-family: Lato;
}

.top-container {
  width: 100%;
  background-image: url("./resources/background-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 20px;
  padding: 12.1em 0 18.2em;
}
.top-container__main {
  width: 47%;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
}
.top-container__main__title {
  font-size: 80px;
  font-weight: 700;
  margin: 0;
}
.top-container__main__description {
  width: 93.4%;
  font-size: 24px;
  margin: 1.33em 0;
}
.top-container__main__button {
  padding: 1em 2em;
  border-radius: 40px;
  color: white;
  background-color: #06040A;
  font-size: 22px;
}

.bottom-container {
  width: 100%;
  display: grid;
  align-items: stretch;
  font-size: 20px;
  margin-top: 10.15em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.bottom-container__get-started {
  width: 83.4%;
  justify-self: center;
  margin-top: 10.4%;
  font-size: 20px;
  margin-bottom: 5.5em;
}
.bottom-container__get-started__title {
  font-size: 56px;
  margin: 0;
}
.bottom-container__get-started__description {
  width: 78.6%;
  font-size: 24px;
}
.bottom-container__get-started__button {
  width: 37%;
  padding: 1.01em;
  border-radius: 40px;
  color: white;
  background-color: #333333;
  font-size: 22px;
}
.bottom-container__information {
  width: 80.7%;
  justify-self: center;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.bottom-container__information__flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 1.6em;
}
.bottom-container__information__flex__item {
  width: 37.7%;
  font-size: 16px;
  background-color: #F4F4F4;
  border-radius: 24px;
  padding: 1.5em 1.75em 1.5em 1.5em;
}
.bottom-container__information__flex__item__title {
  font-size: 24px;
  margin: 0;
}
.bottom-container__information__flex__item__description {
  margin: 0.5em 0 0;
}
.bottom-container__information__item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  background-color: #F4F4F4;
  border-radius: 24px;
  padding: 1em 1.75em 1em 1.5em;
}
.bottom-container__information__item__text-container {
  width: 60%;
}
.bottom-container__information__item__text-container__title {
  font-size: 24px;
  margin: 0;
}
.bottom-container__information__item__text-container__description {
  margin: 0.5em 0 0;
}
.bottom-container__image {
  width: 100%;
  align-self: center;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row: span 2;
}

#flex-item-178k {
  background-color: #C6D9E1;
}

.list {
  color: white;
  background-color: #252525;
  display: flex;
  border-radius: 40px;
  width: 82.2%;
  position: absolute;
  justify-content: space-around;
  left: 50%;
  transform: translateX(-50%);
  top: 42.2%;
}
.list__items {
  width: 24.1%;
  font-size: 20px;
  margin: 2.66em;
  line-height: 1.37em;
}
.list__items__title {
  font-size: 27px;
  margin-top: 0.37em;
  margin-bottom: 0.74em;
  opacity: 0.8;
}
.list__items__description, .list__items__icon {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
